*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Segoe UI,sans-serif;
    background:#111827;
    color:white;
    padding:40px;
    line-height:1.7;
}

h1{
    text-align:center;
    color:#fbbf24;
    margin-bottom:50px;
    font-size:3rem;
}

h2{
    color:#fbbf24;
    margin-top:50px;
    margin-bottom:20px;
    font-size:2rem;
}

#count{
    color:#d1d5db;
    margin-bottom:20px;
}

.project-card{

    background:#1f2937;

    border:1px solid #374151;

    border-radius:15px;

    padding:25px;

    margin-bottom:20px;

    transition:0.3s;
}

.project-card:hover{

    transform:translateY(-5px);

    box-shadow:
    0 10px 25px
    rgba(
    251,
    191,
    36,
    0.15
    );
}

.project-card h3{

    color:#fbbf24;

    margin-bottom:10px;
}

.project-card p{

    color:#d1d5db;
}

.project-card a{

    display:inline-block;

    margin-top:15px;

    color:#fbbf24;

    text-decoration:none;

    font-weight:bold;
}

.project-card a:hover{

    text-decoration:underline;
}

.email-box{

    background:#1f2937;

    border:1px solid #374151;

    border-radius:15px;

    padding:25px;
}

.email-box p{

    color:#d1d5db;
}

hr{

    border:none;

    height:1px;

    background:#374151;

    margin:40px 0;
}

.news-list{

    background:#1f2937;

    border:1px solid #374151;

    border-radius:15px;

    padding:25px;
}

.news-list li{

    margin-bottom:12px;

    color:#d1d5db;
}

@media(max-width:768px){

    h1{
        font-size:2rem;
    }

    h2{
        font-size:1.5rem;
    }

}.news-list a{

    color:#fbbf24;

    text-decoration:none;

    transition:0.3s;

}

.news-list a:hover{

    color:white;

    text-decoration:underline;

}